.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 35vh;
  gap: 10px;
  padding: 20px;
}

.button-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.class-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .class-button-wrapper {
    flex-wrap: nowrap;
  }
}

.class-button {
  margin: 4px;
}

.selected .class-button {
  background-color: lightblue;
}

.checkmark-icon-green {
  font-size: 64px;
  color: green;
}

.checkmark-icon-red {
  font-size: 64px;
  color: red;
}

.modifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.amplify-heading.amplify-heading--4 {
  text-align: center;
  padding: 20px;
}

.amplify-heading.amplify-heading--3 {
  text-align: center;
  padding: 20px;
}

.amplify-heading.amplify-heading--5 {
  text-align: center;
  padding: 10px;
}

.amplify-heading.amplify-heading--6 {
  text-align: center;
  padding: 10px;
}
.icon-down {
  width: 100%;
  text-align: center;
}

.icon-down svg {
  width: 100%;
  height: 100px;
  text-align: center;
}

.icon {
  padding: 20px;
}

.error-message {
  color: red;
}

.link {
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.rectify-container {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  position: relative;
  max-width: 500px;
  height: auto;
}

.button-container {
  display: grid;
  flex: 1;
  margin-left: 10px; 
  align-items: center;
  justify-content: center;
}

.predict-button {
  max-width: 30%;
  padding: 10px;
  align-self: center;
  justify-self: center;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.amplify-button.amplify-field-group__control {
  margin: 10px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.prediction-container {
  display: grid;
  align-items: center;
}

.score {
  border: 1px solid rgb(5, 99, 5);
  background-color: rgb(193, 231, 193);
  padding: 5px;
  width: 40%;
}

.bbox-container {
  position: relative;
}

.bbox-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.bbox-crop-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
}

.bbox-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.bbox-button-container {
  margin-top: 20px;
}

.coordinates-container {
  margin-top: 10px;
}

.upload-instructions {
  padding: 20px;
  max-width: 70%;
  padding: 10px;
}

.amplify-flex.amplify-alert.amplify-alert--info {
  margin-top: 20px;
}

.upload-instructions-text {
  max-width: 70%;
  padding-top: 15%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-pictures {
  display: block;
  padding: 20%;
  padding-top: 5%;
}

.title {
  padding: 20%;
  display: inline;
  align-items: center;
}

.logo {
  display: flex;
  padding-top: 14px;
  padding-right: 16px;
  height: 30px;
  overflow: inherit;
}

.amplify-flex.amplify-tabs {
  margin-bottom: 40px;
}

.amplify-heading.amplify-heading--4 {
  padding-bottom: 20px;
}

.logo:hover {
  cursor: pointer;
}
